body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  border-radius: 0;
  border-bottom: 5px solid black;
  padding: 30px;
}

#clearFieldsBtn {
  margin-bottom: 10px;
}

.row {
  border-top: 1px solid white;
  margin-bottom:10px;
}

.hourArea {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align:justify;
  padding-top:18px;

}

.past {
  background-color: #e7e7e7;
  border-radius:15px;
  
}

.present {
  background-color: #ffcaaf;
  border-radius:15px;
}

.future {
  background-color: #b5ead7;
  border-radius:15px;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #a7bed3;
  color: white;
}

.saveBtn:hover {
  font-size: 1px;
  transition: all 0.3s ease-in-out;
}